body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(168, 95, 175);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}


.container {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 320px; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 20px;
}


input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #2ae5fd;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #7e2222;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #58a01c;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #b47726;
  transform: scale(1.05);
}
